# виртуальное окружение
.venv/

# Python кеши
__pycache__/
*.pyc

# SQLite база данных
*.db

# Node.js зависимости
node_modules/

# локальные настройки и токены
.env
.env.*

# системные файлы
.DS_Store
